@import 'primitives/primitives';
@import 'primitives/fonts/fonts';


@import 'blocks/container/container';
@import 'blocks/logo/logo';
@import 'blocks/colors/colors';
@import 'blocks/types/types';
@import 'blocks/text-field/text-field';
@import 'blocks/dropdown/dropdown';
@import 'blocks/button/button';
@import 'blocks/increment-input/increment-input';
@import 'blocks/checkbox/checkbox';
@import 'blocks/radio/radio';
@import 'blocks/toggle/toggle';
@import 'blocks/rating/rating';
@import 'blocks/expandable-checkbox/expandable-checkbox';
@import 'blocks/bullet-list/bullet-list';
@import 'blocks/cons/cons';
@import 'blocks/review/review';
@import 'blocks/date-dropdown/date-dropdown';
@import 'blocks/find-room/find-room';
@import 'blocks/registration/registration';
@import 'blocks/room/room';
@import 'blocks/come-in/come-in';
@import 'blocks/walkthrough/walkthrough';
@import 'blocks/header_block/header_block';






* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    color: $dark-100;
    font-family: Montserrat;
}

h1 {
    font-size: 24px; 
    line-height: 30px;
    font-style: normal;
    font-weight: bold;
}
h2 {
    font-size: 19px; 
    line-height: 23px;
    font-style: normal;
    font-weight: bold;
}
h3 {
    font-size: 12px; 
    line-height: 15px; 
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    &.title {
        margin-bottom: 16px;
    }
}
.body-text {
    font-size: 14px; 
    line-height: 24px; 
    color: $dark-75;
    font-style: normal;
    font-weight: normal;
}


