.expandable-checkbox {

    &__title{
        display: flex;
        justify-content: space-between;
        width:266px;
        
    }
    &__items {
        &.disabled {
            display: none;
        }
    }  
    
}