.increment-input {
    width: 266px;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 7px;
    label {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        padding-left: 15px;
    }
    
    &__container {
        display: flex;
        justify-content: flex-end;
        padding-right: 7px;
    }

    &__input {
        width: 32px;
        height: 30px;
        border: none;
        padding-top: 6px;
        padding-bottom: 9px;
        text-align: center;
        outline: none;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: $dark-100;

        -moz-appearance:textfield;
        &::-webkit-outer-spin-button,    
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__plus,
    &__minus {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
        border-radius: 50%;
        border: 2px solid $dark-25;
        color: $dark-50;

        &.disabled {
            border: 2px solid $dark-5;
        }
    }

    &__buttons-block {
        display: flex;
        justify-content: space-between;
        padding-left: 14px;
        padding-right: 7px;
        padding-top: 19px;
    }
}